.conteudo-principal .folder {
    position: relative;
}

.conteudo-principal .container {
    position: relative;

}

.conteudo-principal .titulo {
    position: absolute;
    font-size: 55px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 2;
    flex-wrap: wrap;
    text-align: center;
}

.container a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .btn {
    font-size: 20px;
    background: linear-gradient(45deg, #ff9a00, #ff0000, #ffcc00);
    color: #fff;
    padding: 10px 30px;
    border-radius: 7px;
    border: none;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 60px rgba(255, 255, 255, 0.5), 0 0 80px rgba(255, 255, 255, 0.5), 0 0 100px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease;
    margin-top: 12px;
}

.container .btn:hover {
    /* transform: scale(1.1); */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 60px rgba(255, 255, 255, 0.5), 0 0 80px rgba(255, 255, 255, 0.5), 0 0 120px rgba(255, 255, 255, 0.5);
}


.conteudo-principal .container .imagem {
    width: 100%;
    object-fit: cover;
    background: cover;
    height: 600px;
    max-width: 100%;
}

.conteudo-principal .quem-somos {
    display: flex;
    background-color: rgb(222, 216, 169);
    margin: 10px 0;
}

.conteudo-principal .quem-somos .conteudo {
    display: flex;
    align-items: center;
    padding: 6.5%;
}

.quem-somos .conteudo .informacoes {
    width: 40%;
    flex-wrap: wrap;
}

.quem-somos .conteudo .informacoes .tituloh2 {
    padding-bottom: 10px;
}

.quem-somos .conteudo .informacoes .texto {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    text-align: justify;
    padding-right: 30px;
}

.conteudo-principal .content {
    width: 50%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    left: 43%;
    border: 2px solid rgb(117, 43, 17);
    flex-wrap: wrap;
}

.conteudo-principal .navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.conteudo-principal .bar {
    width: 55px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    flex-wrap: wrap;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 800%;
    height: 100%;
}

.slide {
    width: 12.5%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -12.5%;
}

#slide3:checked~.s1 {
    margin-left: -25%;
}

#slide4:checked~.s1 {
    margin-left: -37.5%;
}

#slide5:checked~.s1 {
    margin-left: -50%;
}

#slide6:checked~.s1 {
    margin-left: -62.5%;
}

#slide7:checked~.s1 {
    margin-left: -75%;
}

#slide8:checked~.s1 {
    margin-left: -87.5%;
}

.conteudo-principal .bar:hover {
    background-color: #fff;
}

.cabanas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.cabanas .cabana1,
.cabanas .cabana2,
.cabanas .cabana3 {
    text-align: center;
    border: 1px solid rgb(222, 216, 169);
    border-radius: 20px;
    background-color: rgb(222, 216, 169);
    height: 620px;
}

.nome-maui,
.nome-oahu,
.nome-waimea {
    margin: 0 auto;
    font-size: 26px;
    border: 2px solid rgb(117, 43, 17);
    border-radius: 10px;
    width: 280px;
    margin-bottom: 15px;
    color: #fff;
    background-color: rgb(117, 43, 17);
}

.cabanas img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid rgb(117, 43, 17);
}

.cabana1 .btn,
.cabana2 .btn,
.cabana3 .btn {
    font-size: 18px;
    background-color: #8d4925;
    color: #fff;
    padding: 10px 30px;
    border-radius: 7px;
}

.regras {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    text-align: justify;
    padding: 0 50px;
    flex-wrap: wrap;
}

.regras .regras-cabana {
    width: 900px;
    border-top: 2px solid rgb(117, 43, 17);
    border-bottom: 2px solid rgb(117, 43, 17);
    margin-top: 50px;
}

.regras .regras-da-casa {
    text-align: center;
    padding: 20px 0;
}

.regras .regras-gerais {
    font-size: 18px;
}

.regras .regras-gerais .span {
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.regras .regras-gerais .icones {
    width: 30px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.regras .conteudo .reserva,
.regras .conteudo .convivencia,
.regras .conteudo .criancas-camas,
.regras .conteudo .restricoes,
.regras .conteudo .fumantes,
.regras .conteudo .animais-estimacao,
.regras .conteudo .descricao {
    display: flex;
    align-items: center;
}

.reserva .btn,
.convivencia .btn {
    display: block;
    font-size: 18px;
    background-color: #8d4925;
    color: #fff;
    border-radius: 7px;
    width: 120px;
    height: 35px;
    padding: 5px 10px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-top: 8px;
}

.reserva .btn:hover,
.convivencia .btn:hover {
    transform: scale(1.1);
}

.regras .bandeiras {
    display: flex;
    align-items: center;
    justify-content: center;
}

.regras .cartao {
    width: 60px;
    margin: 0 15px;
}

.comentarios {
    display: flex;
    width: 100%;
    margin: 40px 0;
    background-color: rgb(222, 216, 169);
}


.comentarios .comentario-hospedes {
    text-align: center;
    padding-bottom: 25px;
}

.comentarios .comentario-hospedes .titulo-p {
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0;
}

.comentarios .comentario-hospedes .avaliacao {
    justify-content: center;
}

.comentarios .comentario-hospedes .img-avaliacao {
    width: 390px;
    height: 235px;
    padding: 10px;
    border-radius: 18px;
}

.proximidades-acomodacoes {
    display: flex;
    flex-direction: column;
    background-image: url(../imagens/imagens-de-fundo/balneario-gaivota-centro.png);
    background-size: cover;
    background-position: center;
    height: 450px;
    justify-content: center;
    align-items: center;
}

.proximidades-acomodacoes .titulo-acomodacoes h2 {
    font-size: 30px;
    color: #ffffff;
    padding: 15px;
}

.proximidades-acomodacoes .proximidades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proximidades-acomodacoes .proximidades .mercados,
.proximidades-acomodacoes .proximidades .restaurantes,
.proximidades-acomodacoes .proximidades .farmacias {
    width: 290px;
    background-color: #ffffff;
    padding: 8px;
    line-height: 1.2;
    margin: 10px 0;
    text-align: center;
    border-radius: 7px;
}

.proximidades-acomodacoes .proximidades .estabelecimentos h3 {
    margin-bottom: 5px;
}

.reservas {
    text-align: center;
    padding: 10px;
    background-color: rgb(222, 216, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.reservas .reservas-corpo {
    width: 700px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 7px;
    line-height: 1.5;
}

.reservas .reservas-corpo .blink {
    font-size: 22px;
    font-weight: 600;
    /* animation: blink 4s infinite; */
}

/* @keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
        color: blue;
    }
} */

.reservas .reservas-corpo .texto {
    font-size: 18px;
}

.mapa {
    margin: 0 auto;
    border: 2px solid rgb(117, 43, 17);
}

.mapa iframe {
    width: 100%;
    height: 300px;
}



/* Estilos Responsivos */
@media screen and (min-width:1024px) and (max-width:1439px) {
    .conteudo-principal .titulo {
        font-size: 42px;
        text-align: center;
    }

    .cabanas {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .cabanas .cabana1,
    .cabanas .cabana2,
    .cabanas .cabana3 {
        height: 520px;
    }

    .nome-maui,
    .nome-oahu,
    .nome-waimea {
        width: 280px;
    }

    .cabanas img {
        object-fit: cover;
        height: 400px;
    }

    .conteudo-principal .container {
        max-width: 100%;
    }

    .conteudo-principal .container .imagem {
        height: 400px;
    }

    .conteudo-principal .quem-somos {
        flex-direction: column;
    }

    .conteudo-principal .bar {
        width: 40px;
    }

    .comentarios .comentario-hospedes .img-avaliacao {
        width: 320px;
        height: 235px;
        padding: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .cabecalho {
        flex-direction: column;
    }

    .cabanas {
        grid-template-columns: repeat(2, 1fr);
    }

    .conteudo-principal .titulo {
        font-size: 35px;
    }

    .conteudo-principal .container {
        max-width: 100%;
    }

    .conteudo-principal .container .imagem {
        height: 300px;
    }

    .conteudo-principal .quem-somos {
        flex-direction: column;
    }

    .conteudo-principal .bar {
        width: 40px;
        max-width: 40px;
    }

    .quem-somos .conteudo .informacoes .texto {
        padding-right: 0;
    }

    .comentarios .comentario-hospedes .img-avaliacao {
        grid-template-columns: repeat(2, 1fr);
        width: 280px;
        height: 235px;
        padding: 10px;
    }

}

@media screen and (max-width: 767px) {
    .cabecalho {
        padding: 10px 15px;
    }
    
    .conteudo-principal .titulo {
        font-size: 30px;
    }

    .container .btn {
        font-size: 16px;
        padding: 10px 10px;
        margin-top: 20px;
    }

    .conteudo-principal .container {
        max-width: 100%;
    }

    .conteudo-principal .container .imagem {
        height: 350px;
    }

    .cabanas {
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }

    .cabanas .cabana1,
    .cabanas .cabana2,
    .cabanas .cabana3 {
        height: 520px;
    }

    .cabanas img {
        height: 400px;
    }

    .conteudo-principal .quem-somos {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        height: auto;
    }

    .conteudo-principal .quem-somos .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .quem-somos .conteudo .informacoes {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quem-somos .conteudo .informacoes .tituloh2 {
        font-size: 20px;
    }

    .quem-somos .conteudo .informacoes .texto {
        font-size: 16px;
        text-align: justify;
        width: 100%;
        padding-right: 0;
        padding: 0 10px;
    }

    .conteudo-principal .content {
        width: 100%;
        max-width: 400px;
        margin-top: 20px;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        object-fit: cover;
        max-height: 400px;
        align-items: center;
    }

    .conteudo-principal .slide s1,
    .conteudo-principal .slide {
        max-width: 100%;
    }

    .conteudo-principal .bar {
        width: 25px;
        max-width: 30px;
    }

    .regras .regras-gerais {
        font-size: 18px;
    }

    .regras .regras-gerais .span {
        font-size: 16px;
    }

    .regras .regras-gerais .icones {
        width: 25px;
    }

    .regras .cartao {
        width: 45px;
        margin: 0 15px;
    }

    .comentarios .comentario-hospedes .titulo-p {
        padding: 20px 10px;
        font-size: 20px;
    }

    .comentarios .comentario-hospedes .img-avaliacao {
        width: 300px;
    }

    .proximidades-acomodacoes .titulo-acomodacoes h2 {
        font-size: 30px;
        color: #ffffff;
        padding: 15px;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .proximidades-acomodacoes {
        height: 470px;
    }

    .reservas .reservas-corpo .texto {
        font-size: 16px;
    }
}