.rodape {
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.rodape .navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape .endereco {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    padding: 15px 0;
}

.rodape .redes-sociais {
    display: flex;
    justify-content: center;
    padding: 8px;
    gap: 15px;
}

.rodape .redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-size: cover;
    transition: transform 0.3s ease;
}

.rodape .redes-sociais a:hover {
    transform: scale(1.2); 
}

.rodape .redes-sociais .whatsapp a {
    width: 300px;
    border: 1px solid rgb(48, 191, 57);
    background-color: rgb(48, 191, 57);
    border-radius: 65px;
    padding: 7px 15px;
    color: #ffffff;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.rodape .redes-sociais .whatsapp a:hover {
    transform: scale(1.1)
}

.rodape .redes-sociais .whatsapp i {
    color: #ffffff;
    margin-left: 10px;
}

@media screen and (max-width: 767px) {
    .rodape .endereco {
        font-size: 16px;
        padding: 15px 15px;
    }

    .rodape .redes-sociais a {
        width: 35px;
        height: 35px;
    }
    
    .rodape .redes-sociais .whatsapp a {
        width: 260px;
    }
    
    .rodape .redes-sociais .whatsapp i {
        color: #ffffff;
        margin-left: 3px;
    }    
}



